@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo da tela */

html {
    width: 100vw;
    height: 200vh;
    font-size: 62.5%;
    color: white;
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(rgba(17,17,17,0.8),rgba(20,20,20,1)),url(lista-de-material-para-cabeleireiro.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* menu - header - navbar */

header {
    width: 100%;
    height: 10vh;
    background: rgba(0, 0, 0, 0.514);   
}
.menu-content {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}
.logo:hover {
    color: orange;
}
.logo {
    font-size: 2rem;
    letter-spacing: 0.4rem;
    cursor: pointer;
}
.estilo {
    color: orange;
}
.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 40px;
}
.menu-content .list-itens a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1.6rem;
    transition: 2ms ease-in;
    position: relative;
}
.menu-content .list-itens a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: orange;
    transition: all 1s ease;
}
.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Centro - Conteudo Principal */

main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Texto */

.primeiro-texto {
    width: 850px;
    font-size: 8rem;
    margin-bottom: 5rem;
    text-align: center;
}
.segundo-texto {
    margin-bottom: 7rem;
    font-size: 2rem;
    color: rgb(165,165,165);
    text-transform: uppercase;
}

/* Botoes */

.btn {
    display: flex;
    justify-content: center;

}
.btn .btn-agendar {
    background-color: rgb(255, 153, 0);
    width: 216px;
    height: 61px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: rgb(27, 25, 25);
}
.btn .btn-agendar:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
    color: orange;
}

/* sobre nos */
.subtitulo-sobrenos {
    justify-content: center;
    text-align: center;
    margin-bottom: 8rem;
    font-size: 3rem;
    color: whitesmoke;
    text-transform: uppercase; 
}
.conteudo-sobrenos {
    justify-content: center;
    text-align: center;
    margin-bottom: 0.3rem;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: whitesmoke;
}
.btn-sobrenos {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.btn-sobrenos-vejamais {
    background-color: rgb(255, 153, 0);
    width: 216px;
    height: 61px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: rgb(27, 25, 25);
}
.btn-sobrenos-vejamais:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
    color: orange;
}